<div class="toast-container position-fixed bottom-0 end-0 p-3"></div>
<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="liveToast toast-header">
        <img src="" class="rounded me-2" alt="...">
        <strong class="me-auto">{{.Email}}</strong>
        <small>01 seconds</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{if .Logged}}Connected {{.Email}}{{else}}Not Connected{{end}}
    </div>
</div>
</div>
<script>
    const toastLiveExample = document.getElementById('liveToast')
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
    toastBootstrap.show()
</script>